:root {
    --main-blue: #63C9C6;
    --main-white: #fff;
    --dark-gray-text: #989899;
    --light-gray-text: #B2B2B2;
    --gray-border-one: #D9D7D7;
    --gray-border-two: #EFEDED;
    --light-black: #262627;

}
#load::-webkit-scrollbar {
    display: none;
  }
#load {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
    overflow: hidden;
    background: var(--main-white);
    -ms-overflow-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    position: absolute;
  } 
  
  .main div {
    margin: 7px;
    width: 20px;
    height: 20px;
    background-color: var(--main-blue);
    border-radius: 50%;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }
  
  .one {
    animation-name: load-one;
  }
  
  @keyframes load-one {
    30% {
       transform: translateY(-50%);
    }
  }
  
  .two {
    animation-name: load-two;
  }
  
  @keyframes load-two {
    50% {
       transform: translateY(-50%);
    }
  }
  
  .three {
    animation-name: load-three;
  }
  
  @keyframes load-three {
    70% {
       transform: translateY(-50%);
    }
  }
@font-face {
    font-family: 'Apercu-Light';
    src: url('./fonts/Apercu-Light.eot');
    src: url('./fonts/Apercu-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Apercu-Light.woff2') format('woff2'),
        url('./fonts/Apercu-Light.woff') format('woff'),
        url('./fonts/Apercu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apercu-Medium';
    src: url('./fonts/Apercu-Medium.eot');
    src: url('./fonts/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Apercu-Medium.woff2') format('woff2'),
        url('./fonts/Apercu-Medium.woff') format('woff'),
        url('./fonts/Apercu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apercu-Regular';
    src: url('./fonts/Apercu-Regular.eot');
    src: url('./fonts/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Apercu-Regular.woff2') format('woff2'),
        url('./fonts/Apercu-Regular.woff') format('woff'),
        url('./fonts/Apercu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Apercu-Regular';
    font-size: 18px;
}
img {
    width: 100%;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
textarea {
    resize: none;
}
button {
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    font-family: 'Apercu-Medium';
    cursor: pointer;
}
ul {
    list-style: none;
}
/* navbar */
.nav {
    width: 100%;
    display: flex;
    background: var(--main-white);
    box-shadow: 1px 1px 11px rgb(0, 0, 0, 7%);
}
.nav-container {
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    max-width: 133px;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    flex-direction: row;
    /* max-width: 830px; */
}
.nav-list-item {
    margin-right: 1.5rem;
}
.nav-list-item a {
    color: var(--light-black);
}
.nav-list-item a:hover {
    color: var(--main-blue);
}
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    max-width: 38px;
    padding: 0.2rem;
    display: flex;
}
.search svg {
    cursor: pointer;
    width: 100%;
}
.nav .login {
    margin-left: 1rem;
}
.primary-button {
    color: var(--main-white);
    background-color: var(--main-blue);
}
.close {
    display: none;
}
.close svg, .menu svg {
    cursor: pointer;
}
.menu {
    display: none;
}
@media screen and (max-width: 1140px) {
    * {
        font-size: 13px;
    }
    .search {
        max-width: 27px;
    }
    .logo {
        max-width: 90px;
    }
}
@media screen and (max-width: 786px) {
    nav {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        top: 0;
        left: 0;
        background: var(--main-white);
        flex-direction: column;
        align-items: initial;
        opacity: 1;
        transition: top 2s ease-in-out, opacity 1s ease-in-out 1s;
    }
    .hidden {
        top: -100vh;
        opacity: 0;
    }
    .nav-list {
        flex-direction: column;
        width: 90%;
        margin: 1rem auto;
    }
    .nav-list-item {
        margin: 0.5rem 0;
        border-bottom: var(--light-gray-text) solid 0.3px;
        padding: 1rem 0 1.5rem 0;
        width: 100%;
        text-align: center;
    }
    .actions {
        width: 70%;
        margin: 3rem auto;
        justify-content: center;
    }
    .close {
        display: block;
        text-align: end;
        margin: 2rem 2rem 0rem 2rem;
    }
    .menu {
        display: block;
    }
}

/* slideshow */
.slideshow {
    position: relative;
    width: 90%;
    margin: 2rem auto;
}
.slide {
    width:100% !important;
    display: none;
    border-radius: 7px;
    overflow: hidden;
}
.slideshow-container {
  position: relative;
  margin: auto;
}
.slideshow-container img {
    vertical-align: middle;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}
.slideshow .text {
  color: #f2f2f2;
  position: absolute;
  left: 10%;
  margin: 1rem auto;
  top: 30%;
  z-index: 2;
  width: 40%;
}
.slideshow .text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--main-white);
    font-family: 'Apercu-Medium';
}
.slideshow .text p {
    font-size: 0.9rem;
    margin-bottom: 3rem;
}
.slideshow .text .secondary-button {
    font-family: 'Apercu-Regular';
    color: var(--light-black);
    background-color: var(--main-white);    
    border-radius: 7px;
    padding: 0.8rem 4rem;
}
.indicators {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-10%);
    z-index: 5;
}
.dot {
    cursor: pointer;
    height: 5px;
    width: 3rem;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.slide-active, .dot:hover {
  background-color: var(--main-white);
}


@media screen and (max-width: 1300px) {
    .slideshow .text {
        width: 60%;
    }
}
@media screen and (max-width: 786px) {
    .indicators {
        top: 40%;
    }
    .slideshow .text {
        position: relative;
        left: 0;
        margin: 2rem auto;
        width: 90%;
    }
}
/* signin-form */
.signin-form-container {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 100;
    background: var(--main-white);
    display: flex;
    opacity: 0;
    right: -100%;
    top: 0;
    justify-content: space-evenly;
    transition: right 2s ease-in-out, opacity 1s ease-in-out 1s;
}
.signin-form-container.show {
    opacity: 1;
    right: 0;
}
.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signin-logo {
    width: 25%;
}
.signin-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 60%;
}
.signin-form h3 {
    font-size: 2.5rem;
    color: var(--main-blue);
}
.signin-form .p {
    color: var(--light-black);
    margin: 0.5rem auto;
    font-size: 1rem;
}
.form-container {
    display: flex;
    align-items: center;
    justify-self: center;
}
.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem auto;
    width: 100%;
}
.form-container input::placeholder,
.form-container textarea::placeholder {
    color: var(--light-gray-text);
    font-size: 1rem;
}
.form-container input:focus,
.form-container textarea:focus {
    /* border: 1px solid #DD22DD; */
    outline-color: var(--main-blue);
}
.form-container textarea {
    min-height: 100px;
}
.form-container textarea,
.form-container input {
    font-size: 1rem;
    color: var(--dark-gray-text);
    border: 1px solid var(--gray-border-one);
    border-radius: 4px;
    padding: 0.7rem 0.7rem 0.7rem 1rem;
    margin: 0.5rem 0;
    width: 100%;
}
.form-container button {
    background: var(--main-blue);
    border-radius: 4px;
    width: 100%;
    margin: 0.7rem 0;
    color: var(--main-white);
}
.signin-form .or {
    width: 60%;
    margin: 0rem auto 1rem auto;
    position: relative;
    text-transform: uppercase;
    color: var(--gray-border-one);
}
.signin-form .or::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 44%;
    left: 0;
    top: 50%;
    background-color: rgb(41, 178, 254, 0.14);
    transform: translateY(-50%);
}
.signin-form .or::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 44%;
    right: 0;
    top: 50%;
    background-color: rgb(41, 178, 254, 0.14);
    transform: translateY(-50%);
}
.signin-form .other-methods {
    display: flex;
    justify-content: center;
}
.signin-form .signin-method:first-child {
    margin-right: 1rem;
}
.signin-form .signin-method {
    display: flex;
    justify-content: center;
    border: 1px solid #EFEFEF;
    background: var(--main-white);
    color: var(--dark-gray-text);
    padding: 1rem;
    align-items: center;
    width: 100%;
}
.signin-form .signin-method svg {
    margin-right: 0.7rem;
}
.signin-form .signin-method p {
    font-size: 0.8rem;
}
.signin-form .login {
    text-align: center;
    margin: 1rem auto;
}
.signin-form .login p {
    font-size: 0.7rem;
    color: var(--dark-gray-text);
}
.signin-form .login a {
    font-size: 0.7rem;
    color: var(--main-blue);
}
.signin-bref-container {
    background: var(--main-blue);
    color: var(--main-white);
    width: 50%;
    height: 100%;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.signin-form-close {
    position: absolute;
    top: 7%;
    right: 7%;
    cursor: pointer;
}
.signin-bref {
    margin: 2rem auto;
    width: 80%;
}
.signin-bref h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.signin-bref .subtitle {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.signin-bref .info {
    font-size: 0.7rem;
    margin-bottom: 3rem;
}
.review-container {
    width: 80%;
    margin: 2rem auto;
    position: relative;
}
.review-image {
    position: absolute;
    left: 50%;
    top: -1.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-white);
    transform: translateX(-50%);
}
.rating {
    margin: 0.7rem auto;
}
.review {
    background: var(--main-white);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    color: #707070;
    font-family: 'Apercu-Light';
    font-size: 0.9rem;
    padding: 2rem 1rem;
    border-radius: 7px;
}

.signin {
    width: 50%;
    background: var(--main-white);
}
@media screen and (min-width: 1600px) {
    .review-container {
        width: 70%;
    }
}
@media screen and (max-width: 1599.99px) {
    .signin-form .signin-method svg {
        width: 17px;
    }
    .signin-logo {
        width: 20%;
    }
    .signin-bref h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    .signin-bref .subtitle {
        font-size: 1rem;
    }
    .review p {
        font-size: 0.8rem;
    }
    .signin-form h3, .signin-bref h2 {
        font-size: 2rem;
    }
    .signin-form .form-container form {
        margin: 0.5rem auto;
    }
    .signin-form .form-container input {
        font-size: 0.7rem;
    }
    .or {
        margin-bottom: 0.5rem;
    }
    .signin-form .signin-method {
        padding: 0.5rem;
    }
}
@media screen and (max-width: 786px) {
    .signin-bref {
        width: 90%;
    }
    .signin-form-container {
        position: absolute;
        z-index: 100;
        flex-direction: column;
    }
    .signin, .signin-bref-container {
        width: 100%;
        min-height: 100vh;
    }
    .signin-bref h2 {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
    .signin-form h3, .signin-bref h2 {
        font-size: 2.5rem;
    }
}

/* booking */
.booking-container {
    display: flex;
    position: relative;
    overflow: hidden;
}
.booking-container .right-container {
    width: 50%;
    z-index: 2;
}
.booking-container .right-container h3 {
    font-size: 2rem;
    color: var(--main-blue);
    margin-bottom: 1rem;
}
.booking-container .right-container p {
    font-size: 1rem;
    color: var(--main-blue);
}
.booking-container .right,
.booking-container .left {
    width: 70%;
    margin: 2rem auto;
    text-align: center;
}
.booking-container .left-container {
    width: 50%;
}
.booking-container .left {
    text-align: left;
}
.booking-container .left-container h2 {
    font-size: 2.5rem;
    color: var(--light-black);
    margin-bottom: 1rem;
}
.booking-container .left-container h6 {
    color: var(--main-blue);
    font-size: 1rem;
    font-weight: normal;
}
.booking-container .left-container .character-conaiter {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.booking-container .left-container .character-conaiter p {
    color: var(--light-gray-text);
}
.leaf svg {
    width: 100%;
}
.leaf {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 30%;
}
@media screen and (max-width: 1140px) {
    .booking-container .left-container .character-conaiter .character svg {
        width: 100%;
        height: auto;
    }
    .booking-container .left-container .character-conaiter .character {
        width: 100%;
        margin: 0 auto;
        margin-right: 1rem;
    }
    .booking-container {
        flex-direction: column;
    }
    .booking-container .right-container, .booking-container .left-container {
        width: 100%;
    }
    .booking-container .right-container .right,.booking-container .left-container .left{
        width: 80%;
    }
}
/* home */
.main-container {
    position: relative;
    height: 90vh;
    overflow: hidden;
}
.image-container {
    position: absolute;
    z-index: 1;
}
.dots {
    z-index: 2;
}
.booking-form-container {
    position: absolute;
    z-index: 3;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2rem);
    padding: 3rem;
    border-radius: 7px;
    box-shadow: 10px 10px 20px rgba(65, 65, 65, 0.2);
}
.main-container .announcement {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    background: var(--main-blue);
    color: var(--main-white);
}
/* tabs */
.tabs form button {
    background: var(--main-blue);
    color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
.tabs form button svg {
    margin-right: 1rem;
}
.tabs .checkbox-container {
    display: flex;
    margin-top: 1rem;
}
.tabs .checkbox-container .checkbox {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    color: var(--dark-gray-text);
}
.tabs .checkbox-container input {
    margin-right: 0.5rem;
    margin-top: 0.1rem;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
}
.input {
    position: absolute;
    opacity: 0;
}

.label {
    width: 100%;
    padding: 0.7rem 2rem;
    background: var(--main-blue);
    color: var(--main-white);
    cursor: pointer;
    font-weight: bold;
    font-weight: normal;
    font-size: 18px;
    border-radius: 4px 4px 0px 0px;
    transition: background 0.1s, color 0.1s;
    margin-right: 1rem;
}

.label:hover {
    background: #d8d8d8;
}

.label:active {
    background: var(--main-blue);
}

.input:focus + .label {
    z-index: 1;
}

.input:checked + .label {
    background: var(--main-white);
    color: var(--dark-gray-text);
}

.panel {
    display: none;
    padding: 2rem;
    font-weight: normal;
    background: #fff;
    border: 0.5px solid var(--gray-border-one);
    border-radius: 0px 4px 4px 4px;
    width: 100%;
}
.panel .select-container {
    display: flex;
    align-items: center;
}
.panel form .select-container select:nth-child(3) {
    margin-right: auto;
}
.panel form select {
    color: var(--main-blue);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid var(--gray-border-one);
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
}

@media (min-width: 600px) {
    .label {
         width: auto;
    }

    .panel {
         order: 99;
    }
}

.input:checked + .label + .panel {
    display: block;
}
@media screen and (max-width: 786px) {
    .booking-form-container {
        width: 80%;
        padding: 2rem;
    }
    .label {
        margin-right: 0;
        width: 100%;
    }
    .panel form .select-container select:nth-child(3),
    .panel form .select-container select {
        margin-right: 0;
    }
    .panel .select-container, .tabs .checkbox-container {
        flex-direction: column;
    }
}
@media screen and (min-width: 1600px) {
    .booking-form-container {
        width: 50%;
    }
}

/* animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}